@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--white: #fff;
	--dark: #344585;
	--info: #6384ff;
	--succsess: #39a96f;
	--warning: #fabc05;
} /* variables*/

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
}
a {
	text-decoration: none;
}
ul {
  list-style: none;
}
/* Header */
.header {
	background-color: var(--dark);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 5;
}
/* Logo */
.logo {
	display: inline-block;
	color: var(--white);
	font-size: 40px;
	padding: 20px;
}
/* Nav menu */
.nav {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: var(--dark);
	overflow: hidden;
}
.menu a {
	display: block;
	/* padding: 30px; */
	margin-right: 20px;
	color: var(--white);
}
.menu a:hover {
	background-color: var(--info);
}
.nav {
	max-height: 0;
	transition: max-height 0.5s ease-out;
}
/* Menu Icon */
.hamb {
	cursor: pointer;
	float: right;
	padding: 30px 20px;
	margin-top: 10px;
} /* Style label tag */

.hamb-line {
	background: var(--white);
	display: block;
	height: 2px;
	position: relative;
	width: 24px;
} /* Style span tag */
.hamb-line::before,
.hamb-line::after {
	background: var(--white);
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	width: 100%;
}
.hamb-line::before {
	top: 5px;
}
.hamb-line::after {
	top: -5px;
}
.side-menu {
	display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav {
	max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
	background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
	transform: rotate(-45deg);
	top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
	transform: rotate(45deg);
	top: 0;
}
.header {
	height: 80px;
}
/* Responsiveness */
@media (min-width: 768px) {
	.header {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	header ul {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* column-gap: 20px; */
	}
	.nav {
		/* display: flex; */
		max-height: 80px;
		top: 0;
		position: relative;
		float: right;
		width: fit-content;
		background-color: transparent;
	}
	.menu li {
		float: left;
	}
	.menu a:hover {
		background-color: transparent;
		color: var(--info);
	}

	.hamb {
		display: none;
	}
}
.nav-btn {
	padding: 10px 30px;
	background-color: transparent;
	border-color: white;
	border-style: solid;
	color: white;
	transition: all 500ms;
}
.nav-btn:hover {
	background-color: white;
	color: #6384ff;
	cursor: pointer;
}
/*? hero */
.hero-section {
	background-color: var(--info);
}
.hero {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 100px 0;
}
.hero-content {
	min-height: 70%;
}
.hero h1 {
	font-size: 45px;
}
.animaited-text {
	width: 22ch;
	animation: typing 2s infinite steps(22) alternate,
		blink 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
}
@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}
#animaited_text {
	font-weight: bold;
	font-size: 30px !important;
}
.services {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.services .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}
.services .card .content {
	width: 50%;
	line-height: 1.5;
	text-align: center;
}

.underlied-title {
	text-align: center;
	margin-top: 40px;
	font-size: 45px;
}
.underlied-title::after {
	content: "";
	display: block;
	width: 10%;
	height: 4px;
	background: rgb(99, 132, 255);
	background: linear-gradient(
		90deg,
		rgba(99, 132, 255, 1) 0%,
		rgba(99, 132, 255, 1) 79%,
		rgba(244, 246, 255, 1) 79%,
		rgba(255, 255, 255, 1) 88%,
		rgba(99, 132, 255, 1) 88%
	);
	margin: 10px auto 0;
}
.about-container .underlied-title::after {
	width: 30%;
	margin: 0;
}
.about-container h1 {
	font-size: 3.5rem;
	text-align: left;
}
.about-container {
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-container p {
	font-size: 1.5rem;
	margin: 30px 0;
}
.about-container a {
	border: solid 1px var(--info);
	padding: 12px 24px;
	color: var(--info);
	transition: 300ms;
	display: inline-block;
}
.about-container a:hover {
	color: var(--white);
	background-color: var(--dark);
}
/*! case study section */
.case-study-grid-container {
	max-width: 1200px;
	margin: 100px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}
.case-study-grid-item {
	position: relative;
}
.case-study-grid-item img {
	width: 100%;
	height: 100%;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.582);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
	font-size: 1.3rem;
	opacity: 0;
	/* display: none; */
	/* visibility: hidden; */
	transition: 400ms;
}
.case-study-grid-item:hover .overlay {
	/* visibility: visible; */
	opacity: 1;
}
.overlay::before,
.overlay::after {
	content: "";
	display: block;
	width: 25%;
	height: 2px;
	background-color: white;
	position: absolute;
	transition: 300ms;
}
.overlay::before {
	top: 20%;
}
.overlay:hover::before {
	top: 30%;
}
.overlay::after {
	bottom: 20%;
}
.overlay:hover::after {
	bottom: 30%;
}
/*! start pricing section */
.pricing-container {
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	justify-content: space-between;
}
.pricing-container .card {
  width: 350px;
}
.pricing-container .top {
	text-align: center;
	background-color: var(--warning);
	position: relative;
}
.pricing-container .top h2 {
	padding: 20px 0;
}
.pricing-container .top::before,
.pricing-container .top::after {
	content: "";
	display: block;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	bottom: -40%;
	transform: rotate(0.3turn);
	/* z-index: -1; */
}
.pricing-container .top::before {
	left: -4%;
}
.pricing-container .top::after {
	transform: rotate(-0.3turn);
	right: -5%;
	bottom: -45%;
}
.pricing-container .top h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  padding: 20px 0;
}
.pricing-container .card.yello .top {
  background-color: var(--warning);
}
.pricing-container .card.blue .top {
  background-color: var(--info);
}
.pricing-container .card.green .top {
  background-color: var(--succsess);
}
.pricing-container ul {
	position: relative;
	z-index: 1;
}
.pricing-container .circular-pricing {
  position: relative;
  z-index: 1;
  /* margin-bottom: 100px; */
  border: solid 8px #3333334e;
  width: 150px;
  margin: 0 auto 50px;
  padding: 20px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.3s;
}
.pricing-container .circular-pricing span {
  font-size: 30px;
  font-weight: bold;
}
.pricing-container ul li {
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
}
.pricing-container ul i {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
}
.pricing-container ul i.yellow {
  color: var(--warning);
}
.pricing-container ul i.blue {
  color: var(--info);
}
.pricing-container ul i.green {
  color: var(--succsess);
}
.pricing-container a {
  border: 1px solid;
  display: block;
  width: fit-content;
  padding: 15px 45px;
  margin: 30px auto;
  font-weight: bold;
  color: #222;
  font-size: 20px;
  transition: 0.3s;
}
.pricing-container a.yellow {
  border-color: var(--warning);
}
.pricing-container a.blue {
  border-color: var(--info);
}
.pricing-container a.green {
  border-color: var(--succsess);
}

.pricing-container .card.yellow:hover a,
.pricing-container .card.yellow:hover .circular-pricing {
  background-color: var(--warning);
  color: #fff;
}
.pricing-container .card.blue:hover a,
.pricing-container .card.blue:hover .circular-pricing {
  background-color: var(--info);
  color: #fff;
}
.pricing-container .card.green:hover a,
.pricing-container .card.green:hover .circular-pricing {
  background-color: var(--succsess);
  color: #fff;
}

/*! end pricing section */

.team-container {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
